/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
  
  
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
#primero{
  background:url(../assets/images/bg-home.jpg) no-repeat;
  background-size:100% 100%;
  width:100%;
  height:500px;
  color:white;
}
h1{
  font-size: 40px;
}
h2{
  margin-top: 20px;
}
header{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 280px;
}

header div{
  margin-left: 80px;
  margin-right: 80px;
}
div a{
  color: inherit;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
}
#header img{
  width: 70px;
  height: 70px;
  position: relative;
  left:600px;
}

section{
  margin-left: 30px;
  margin-right: 40px;
  text-align: center;
}

.figure{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

figure img{
  width: 20%;
  height: 20%;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

#work{
  width: 100%;
  height: 50%;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#work img{
  width: 50%;
  height: 50%;
  position: relative;
  margin:0 auto;
 
}

div{
  display: inline-block;
}

div h5{
  width: 300px;
  
}

#second{
  width:100%;
  height: 500px;
  background-color:#E95853;
  color: white;
}
#second div{
  line-height: 5px;
}

#second div img{
  width: 200px;
  height: 200px;
}

button{
 background-color: rgb(10, 206, 10);
 color: white;
 font-size: 16px;
 width: 180px;
 height: 40px;
 margin-top: 15px;
 border-bottom: none;
}

footer{
	width: 1200px;
	margin: 0 auto;
	background-color:darkgray;
	color:white;
	padding-top:1px;
	padding-bottom:1px;
	text-align:center;
}